<div th:replace="fragments/Cabecera :: cabecera"></div>
<body>

<div th:replace="fragments/Plantilla :: content"></div>



<div th:each="product : ${Products}" style="display: flex;flex-direction: row;flex-wrap: wrap">
    <div class="card" style="width: 18rem;">
        <img  th:src="'/GaldonMarioMiAli/Imagenes/'+${product.getProductPicture()}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${product.getProductName()}"></h5>
            <p class="card-text" th:text="${product.getProductPrice()}" ></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <button th:unless="${session.tipoUsuario} == 'admin'" th:text="Editar"></button>
            <button th:unless="${session.tipoUsuario} == 'admin'" th:text="Borrar"></button>
        </div>
    </div>
</div>
</body>
