<div th:replace="fragments/Cabecera :: cabecera"></div>
<body>

<div th:replace="fragments/Plantilla :: content(carrito=${carrito}, total=${total})" ></div>

<form method="post" action="/GaldonMarioMiAli/Producto" style="margin-left: 15px;">
    <label for="provincia"  class="form-label">Provincia</label>
    <select class="form-select" id="provincia" name="idProvincia"  required style="width: 25%;">
        <div th:each="provincia : ${Provincias}">
            <option th:value="${provincia.getIdProvincia()}" th:text="${provincia.getNombre()}"></option>
        </div>
    </select>
    <label for="Municipio"  class="form-label">Municipio</label>
    <select class="form-select" id="Municipio" name="municipioId"  required style="width: 25%;">
        <div th:each="municipio : ${Municipios}">
            <option  th:value="${municipio.getIdMunicipio()}" th:text="${municipio.getNombre}" ></option>
        </div>
    </select>
    <button type="submit" class="btn btn-info" style="margin-top: 5px;">Aplicar filtro</button>
</form>
<div sec:authorize="hasAnyAuthority('gestores', 'ADMIN')">
    <a href="/GaldonMarioMiAli/create">Crear un Nuevo Producto</a>
</div>
<div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center">
    <div th:each="product : ${Products}" >
        <div class="card" style="width: 18rem ;height: 24rem;margin: 25px;">
            <img  th:src="'/GaldonMarioMiAli/Imagenes/'+${product.getProductPicture()}" class="card-img-top" alt="..." style="height: 50%;">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.getProductName()}"></h5>
                <p class="card-text" th:text="${product.getProductPrice()}+'$'" ></p>
                <a th:href="@{'/addCarrito/' + ${product.getProductId()}}" class="btn btn-primary">Añadir al carrito</a>
                <div sec:authorize="hasAnyAuthority('gestores')">
                    <a class="btn btn-warning" th:href="@{'/edit/' + ${product.getProductId()}}"  th:text="Editar"></a>


                </div>
                <a class="btn btn-primary" th:href="@{'/show/' + ${product.getProductId()}}"th:text="Mostrar"></a>

            </div>
        </div>
    </div>
</div>
<script src="js/selector.js"></script>
</body>
